@model Portfolio

<form method="post">
    <div class="col-5">
       <h3>PhotoURL</h3>
       <input class="form-control mb-2" asp-for="PhotoURL" />
       <input class="btn btn-warning btn-sm" type="submit" value="Edit" />
    </div>

</form>